@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
}
body{
    width: 100%;
}
.header-section{
    height: 100px;
    position: relative;
    top: 0;
    z-index: 1;
}
.wrapper{
    background: #f5efe8;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin:0 auto;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    display: flex;
    margin-left: 80px;
}
.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all .3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover {
    background: #DED6C8;
}
.wrapper .search-icon,
.wrapper .menu-icon{
    color: black;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}
.wrapper .search-box{
    position: absolute;
    max-width: calc(100% - 50px);
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
}
.wrapper #show-search:checked ~ .search-box{
    opacity: 2;
    pointer-events: auto;
}
.search-box input{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: black;
    background: #f5efe8;
    padding: 0 100px 0 15px;
}
.search-box input::placeholder{
    color: black;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background:#f5efe8;
    cursor: pointer;
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
}
.wrapper input[type="checkbox"]{
    display: none;
}


/* Dropdown menu styling start */
.content .links ul{
    position: absolute;
    background: #f5efe8;
    top: 100px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover ul{
    top: 90px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.content .links ul li a{
    display:block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
/* Dropdown menu styling end */

.random{
    border: 1px solid black;
    width: 100%;
    height: 500px;
    bottom: 0;
    background-color: grey;
}
/* Body section styling*/
.body-section{
    width: 100%;
    padding: 40px 15px 15px 0px;
}
.body-section .product-list{
    width: calc(100% - 100px);
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.8);
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
    justify-content: space-evenly;
}
.body-section .product-list::-webkit-scrollbar{
    display: none;
}
.body-section .product-list .product{
    border: 1px solid #E5DDC9 ;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 400px;
    position: relative;
    margin: 10px;
}
.body-section .product-list .product h2{
    font-size: 18px;
}
.body-section .product-list .product h3{
    font-size: 14px;
    color: grey;
}
.body-section .product-list .product .image{
    position: absolute;
    top: 5px;
    border: 1px solid green;
    width: 90%;
    height: 60%;
    border-radius: 20px;
    margin: 5px;
}
.body-section .product-list .product .p-description{
    position: absolute;
    bottom: 50px;
    height: 60px;
}
.body-section .product-list .product .p-description .buttons{
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
}
.body-section .product-list .product .p-description button{
    font-size: 15px;
    border-radius: 7px;
    padding: 7px;
    margin: 5px;
    width: 100px;
    justify-content: space-evenly;    
}

.body-section .product-list .product .p-description .more-dets{
    background-color: black;
    color: white;
    cursor: pointer;
}
.body-section .product-list .product .p-description .add-to-cart{
    background-color: white;
    color: black;
    border: solid 1px;
    cursor: pointer;
} 
/* End of Body section styling */

/* Footer styling */

.footer-section{
    background: url(/images/footer_img.jpg);
    background-size: cover;
    background-position: top;
    
    /* bottom: 0; */
}
.footer-section div a{
    color: white;
}
footer{
    /* background: url(/images/footer_img.jpg); */
    background-size: cover;
    background-position: top;
    padding: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    height: 480px;
    width: 100%;
    /* position: absolute; bottom: 0; left: 0; right: 0; */
}
footer .contact{
    color: #181616;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
footer div{
    margin-top: 30px;
}
footer .contact p a{
    text-decoration: none;
    color: beige;
    font-size: 20px;    
}
.footer-section .contact .c1{
    font-family: 'TildaSans',Arial,sans-serif;
    font-size: 30px;
    font-weight: 500;
}
footer a{
    color: beige;
}
footer .contact p{
    margin-bottom: 80px;
}
.footer-section .copy{
    position: relative;
    font-size: 10px;
    font-style: none;
    width: fit-content;
    bottom: 0;

}
.media-icons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.media-icons a{
    position: relative;
    color: beige;
    font-size: 25px;
    transition-property: transform;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.5);
}
/* End of footer styling */

/* Responsive code starts from here */
@media screen and (max-width:1250px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
        margin-left: 30px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
        padding: 0 100px 0 15px;
    }
}
@media screen and (max-width:900px){
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: '\f00d';
    }
    nav .content .links{
        display: block;
        position: fixed;
        background: #f5efe8;
        height: 100%;
        width: 100%;
        top: 100px;
        left: -100%;
        margin-left: 0;
        max-width: 70%;
        overflow-y: auto;
        transition: all 0.5s ease;
        padding-bottom: 100px;
    }    
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 10px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 50px;
        display: block;
        font-size: 20px;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }

    /* Responsive dropdown code starts*/
    .content .links ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-catalog:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
    /* Responsive dropdown code Ends*/
}
@media screen and (max-width:400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo img{
        width: 60px;
    }
    .wrapper .search-box{
        max-width: calc(100%-70px);
    }
    .wrapper .search-box .go-icon{
        width:30px;
        right: 0;
    }
    .wrapper .search-box input{
        padding-right: 30px;
    }
}